@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #fff;
}
:root {
  --green: #06c167;
}
.active {
  position: relative;
  color: #06c167;
}
.active:after {
  position: absolute;
  bottom: -10px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #06c167;
  border-radius: 50%;
  left: calc(50% - 4px);
}

nav ul li {
  cursor: pointer;
}

footer ul li {
  cursor: pointer;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}
footer ul li:hover {
  color: #06c167;
}
